@font-face {
    font-family: Inter;
    src: url("/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}


:root {
    font-family: "Inter";
    color: #e2e2e2;
}

body {
    margin: 0px;
    padding: 0px;
    border: none;
    display: flex;
    background-color: #1b2021;
}

.background-image-container {
    flex: 1 1 50%;
}

.background-image-container img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

figcaption {
    text-align: center;
    position: relative;
    margin-top: -50px;
    font-size: 12px;
    color: gray;
}

figcaption a{
    text-decoration: none;
    color: rgb(197, 188, 188);
}

.header {
    margin: 80px 0px 40px 35px;
    max-width: 550px;
    font-size: 20px;
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.header div:last-of-type {
    margin-top: 20px;
}

form {
    margin: 35px;
}

fieldset {
    border: none;
    padding: 0px;
    margin: 0px;
}

legend {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 15px;
}

.container {
    flex: 1 1 50%;
    box-shadow: -100px 0px 200px rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

fieldset div.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 55px;
    row-gap: 15px;
}

fieldset > div.flexbox-container div {
    display: flex;
    gap: 4px;
    flex-direction: column;
    flex-basis: clamp(150px, 45%, 100%);
}

form label {
    font-size: 13px;
}

form input {
    border: none;
    border-bottom: solid 1px #39a2ae;
    border-radius: 2px;
    height: 1.5em;
    width: 100%;
    color: white;

    font-size: 18px;

    background-color: rgba(0, 0, 0, 0);
    transition: border-color 300ms;
}

form button {
    border: none;
    color: #191414;
    font-weight: bold;
    padding: 1em 2em;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 15px;
    background-color: #39a2ae;
    color: #1b2021;
    transition: box-shadow 100ms;
}

form button:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

form input:focus {
    outline-style: none;
    border-bottom: solid 1px blue;
    box-shadow: 0px 5px 3px rgba(19, 18, 18, 0.2)
}

form input:invalid {
    border-color:  red;
}

form > fieldset > div:last-child {
    margin-top: 15px;
    font-size: 13px;
    color: rgb(197, 188, 188);
}

form > fieldset > div:last-child > a {
   color: gray;
}